<!DOCTYPE html>
<html>

<head>
    <title>バックテスト</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'backtests/css/base.css' %}">
    <script src="{% static 'backtests/js/base.js' %}"></script>
</head>

<body>
    <div class="wrapper">
        <!-- グローバルナビゲーション -->
        <nav class="global-nav">
            <ul>
                <li><a href="{% url 'index' %}">バックテスト</a></li>
                <li><a href="{% url 'settings_page' %}">設定ページ</a></li>
            </ul>
        </nav>

        <!-- コンテンツ -->
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>